*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* white-space: nowarp; */
    color: black;
    
}

body{
    font-family: Arial, sans-serif;
    white-space: nowrap;
    width: 100%;
    height: 100%;
    font-size: 13px;
}

header{
    padding: 1rem;
    /* border: .2rem solid red; */
    height: 5vh;
    display: block;
    text-align: center;
    /* justify-content: space-between; */
    /* display: inline; */
    
    
}

.header-left{
    float: left;
}

.header-right{
    float: right;
    padding-bottom: 0.3rem;
    position: absolute;
    right: 0.8rem;
    top: 0;
    /* position: relative;
    top: -0.01rem; */
    
}

#sign-in{
    color: white;
    background-color: #4285f4;
    width: 70px;
    height: 30px;
    text-align: center;
    border: none;
    border-radius: 5px;
}
/* .header-right a{
    position: relative;
    top: 0;
} */

.header-links{
    padding: 0.2rem;
    margin: 0.5rem;
    display: inline;
    text-align: start;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.7);

}

#appicon{
    display: inline-block;

    position: relative;
    top: .6rem;
    opacity: 0.5;
    transition: 0.5s ease-in-out;
    /* bottom: 0; */  
    
}

#appicon:hover{
    opacity: 1;
}


main{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    /* gap: 5rem; */
}

#google{
    width: 20rem;
}

.searchbar{
    padding-top: 1rem;

}

#searchbar {
    width: 30rem;
    height: 3rem;
    border-radius: 30px;
    border: 1px solid rgba(0, 0, 0, 0.7); ;
    padding: 0 3rem;
    /* border: none; */
    background-color: transparent;
    resize: none;
    outline: none;
}

#searchbar:hover{
    box-shadow: rgba(0, 0, 0, 0.3) 3px 3px;
}

.btn-container{
    padding: 2rem;
}

.btn{
    width: 10rem;
    height: 2.5rem;
    margin: 0 1rem;
    border: none;
    border-radius: 4px;
}

#mag{
    width: 2rem;
    position: absolute;
    left: .5rem;
    top: 8.6rem;
    z-index: -1;
}
#mic{
    width: 1rem;
    position: absolute;
    right: .7rem;
    top: 8.9rem;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    /* border: .2rem solid red; */
    background-color: #F2F2F2;
    

}

.footer-left{
    float: left;
    padding: 1rem;
}

.footer-right{
    float: right;
    padding: 1rem;
}

.country{
    padding: 1rem;
    font-size: 14px;
    border-bottom: 1px solid #E4E4E4;
}

.footer-links{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.7);
    margin-left: 1rem;
}

#adv{
    margin-left: 0;
}





